[class^="btn"][disabled],
[class^="btn"][disabled]:hover {
  cursor: default !important;
  background: $grey3;
  color: $grey2;
}

i {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.btn {
  display: inline-block;
  padding: 0 15px;
  background: $blue;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
  line-height: 40px;

  &:hover {
    background: $blueAdditional;
  }

  &-white {
    background: $white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $black;
    border: none;
    padding: 15px 45px;
    cursor: pointer;
  }

  &-big {
    padding: 0 15px;
    line-height: 48px;
    font-size: 16px !important;

    i {
      margin-right: 22px;
      vertical-align: bottom;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-transparent {
    background-color: transparent;
    color: $blue;

    &:hover {
      background-color: transparent;
    }
  }

  &-grey {
    background-color: $grey3;
    color: $black;
  }

  &-grey:hover {
    background-color: $grey3;
    color: $blue;
  }

  i {
    margin-right: 0.5rem;
    font-size: 2rem;
  }
}

.btn-square {
  position: relative;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-color: $blue;
  border: none;
  border-radius: 2px;

  &:hover {
    background-color: $blueAdditional;
  }

  i {
    font-size: 20px;
    color: $white;
  }
}

.btn-circle {
  width: 35px;
  height: 35px;
  background: $grey3;
  border-radius: 187.5px;
  border: none;

  i {
    font-size: 30px;
  }

  &:hover {
    i {
      color: $blueAdditional;

    }
  }

  &-big {
    width: 60px;
    height: 60px;

    i {
      font-size: 45px;
    }
  }

}

//Search
.search {
  display: block;
  max-width: 550px;

  &-item {
    position: relative;

  }

  button {
    position: absolute;
    top: -14.9px;
    right: 6px;
    display: inline-block;
    padding: 0 25px;
  }

  input {
    width: 100%;
    padding: 17px 35px;
    max-width: 100%;
    background-color: $grey4;
    border: none;
    border-radius: 5px;
    color: $grey1;
  }

  &-item:before {
    position: absolute;
    content: "\f11b";
    top: -5px;
    left: 10px;
    font-family: icons, sans-serif;
    font-size: 20px;
    color: $grey2;
    pointer-events: none;
  }

  input:focus {
    outline: 0;
  }
}

.search-catalog {
  display: flex;
  gap: 5px;
  max-width: 380px;

  input {
    width: 100%;
    padding: 10px 15px;
    max-width: 100%;
    background-color: transparent;

    border-radius: 5px;
    color: $grey1;
    border: 1px solid $grey3;
  }

  input:focus {
    outline: 0;
  }

  button {
    padding: 0 25px;

  }
}

.btn-catalog {
  font-size: 15px;
  bottom: 0 ;
  white-space: nowrap;
}
.btn-category-product {
  background: $grey4;
  color: $black;
  font-weight: 600;
  margin-bottom: 160px;
}




