$white: #FFFFFF;
$black: black;
$blue: #538fea;
$blueAdditional:#6d9fea;
$pink:#C81354;
$grey1:#767676;
$grey2:#B1B1B1;
$grey3:#E4E4E4;
$grey4:#F7F7F7;
//LOGO
$lightblue:#41a2eb;
$darkblue:#255394;
//System
$systemRed:#ff453a;
$systemRedLight:#ffeeed;
$systemGreen:#27ba0f;
$systemGreenLight:#e5ffe0;












