.dealers {
  &-items {
    display: flex;
    gap: 2rem;
  }

  &-item {
    flex-basis: 33.3333%;
    border: 1px solid $grey3;
    border-radius: 1.4rem;
    padding: 2rem;
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $blue;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
@media screen and (max-width: 1024px){
  .dealers-item {
    h3 {
      font-size: 1.5rem !important;
    }

    p {
      font-size: 1.06rem !important;
    }
  }
}
@media screen and (max-width: 767px){
  .dealers-items {
    flex-wrap: wrap;

    .dealers-item {
      flex-basis: 100%;
    }
  }
}