.delivery {
  &-items {
    display: flex;
    gap: 20px;
  }
  &-item {
    flex-basis: 25%;
    border: 1px solid $grey3;
    border-radius: 14px;
    padding: 20px;
    img {
      margin-bottom: 10px;
      width: 70px;
      height: 70px;
    }
    h3 {
      font-size: 18px;
      margin-bottom:10px ;
      max-width: 190px;
    }
    p {
      font-size: 14.2px;
    }
  }
}
@media screen and (max-width: 1024px){
  .delivery-items {
    flex-wrap: wrap;
  }
  .delivery-item {
    flex-basis: calc(50% - 1rem) !important;
  }

}
@media screen and (max-width: 767px){
  .delivery-item {
    flex-basis: 100% !important;
  }
}