footer {
  padding: 4rem 13rem;
  background-color: $blue;
  color: $white;

  .upper-blocks {
    display: flex;
    gap: 13.5rem;
    margin-bottom: 2rem;
    .info-block-item {
      flex-basis: 33.3333%;
    }
  }

  .info-block {
    display: flex;
    gap: 3rem;
    flex-basis: 60%;

    &-item {

      h3 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }

      ul {
        list-style: none;

        li {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          a {
            text-decoration: none;
          }

        }
      }
    }
  }

  .contacts-block {
    flex-basis: 40%;

    h3 {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }

    &-phone {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;

      a {
        text-wrap: nowrap;
        color: $white;
        font-size: 2rem;
        font-weight: bold;

      }
    }

    &-address {
      font-size: 1.4rem;

      span {
        display: block;
        margin-bottom: 1rem;
      }

      span:last-child {
        margin-bottom: 0;
      }
    }

  }
}

.bottom-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  .bottom-info-block {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 55%;

  }

  .bottom-block-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 17rem;

  }

  .bottom-block-list-item {
    flex-basis: 33.3333%;
    margin-bottom: 1rem;
  }

  .bottom-block-item a {
    text-decoration: none;
    color: $white;
    text-wrap: nowrap;
  }

  .logo-block {
    display: flex;
    padding-top:2.5rem;
    flex-basis: 36%;
  }
}
.footer-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
   &-item {
     a {
       text-decoration: none;
       color: $white;
       margin-right: 2rem;
     }

   }
}