footer {
  padding: 40px 130px;
  background-color: $blue;
  color: $white;

  .upper-blocks {
    display: flex;
    gap: 135px;
    margin-bottom: 20px;
    .info-block-item {
      flex-basis: 33.3333%;
    }
  }

  .info-block {
    display: flex;
    gap: 30px;
    flex-basis: 60%;

    &-item {

      h3 {
        font-size: 16px;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;

        li {
          font-size: 14px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
          }

        }
      }
    }
  }

  .contacts-block {
    flex-basis: 40%;

    h3 {
      margin-bottom: 20px;
      font-size: 16px;
    }

    &-phone {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      a {
        text-wrap: nowrap;
        color: $white;
        font-size: 20px;
        font-weight: bold;

      }
    }

    &-address {
      font-size: 14px;

      span {
        display: block;
        margin-bottom: 10px;
      }

      span:last-child {
        margin-bottom: 0;
      }
    }

  }
}

.bottom-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  .bottom-info-block {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 55%;

  }

  .bottom-block-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 170px;

  }

  .bottom-block-list-item {
    flex-basis: 33.3333%;
    margin-bottom: 10px;
  }

  .bottom-block-item a {
    text-decoration: none;
    color: $white;
    text-wrap: nowrap;
  }

  .logo-block {
    display: flex;
    padding-top:25px;
    flex-basis: 36%;
  }
}
.footer-links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
   &-item {
     a {
       text-decoration: none;
       color: $white;
       margin-right: 20px;
     }

   }
}
@media screen and (max-width: 1024px){
  footer {
    padding: 40px 20px !important;

    .bottom-blocks .bottom-block-list-item {
      flex-basis: 50%;
    }

    .contacts-block-phone {
      gap: 10px;
      flex-wrap: wrap;
    }

    .logo-block {
      img {
        width: 290px;
        height: 160px;
      }
    }

    .bottom-blocks {
      margin-bottom: 90px;
    }

    .upper-blocks {
      gap: 5px !important;
    }
  }
}
@media screen and (max-width: 767px){
  footer {
    .bottom-blocks,
    .upper-blocks {
      flex-wrap: wrap;
    }
    .bottom-blocks .bottom-info-block,
    .info-block {
      flex-basis: 100% !important;
    }

    .contacts-block-phone {
      flex-wrap: wrap;
    }

    .bottom-blocks .bottom-block-item {
      height: auto;
    }

    .logo-block img{
      width: 100% !important;
      height: 100% !important;
    }
  }
  .bottom-blocks {
    margin-bottom: 30px !important;
  }
  .bottom-blocks .logo-block {
    flex-basis: 95% !important;
  }
  .footer-links {
    font-size: 9px !important;
  }
}
@media screen and (max-width: 500px){
  footer {
    .upper-blocks {
      gap: 25px !important;
    }
    .info-block {
      gap: 10px !important;
    }
    .contacts-block-phone a {
      font-size: 15px !important;
    }
    .bottom-blocks .bottom-block-list-item {
      flex-basis: 100%;
    }
  }
}