.form-content {
  border: 1px solid $grey3;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}
.form-image {
  background: url("image/form-image.png") no-repeat center;
  background-size: cover;
}
.form-group {
  label {
    display: inline-block;
    vertical-align: middle;
  }

  .btn-main-form {
    max-height: 50px;
  }
  .form-checkbox-wrapper {
    display: flex;

  }
  .form-checkbox-check {
    cursor: pointer;
    margin-right: 8px;

    i {
      position: relative;
      font-size: 14px !important;
    }

    i:before {
      position: absolute;
      top: -9px;
      left: 2.5px;
    }
  }

}
.form-image {
  flex-basis: 50%;
}
.form {
  padding: 40px;
  flex-basis: 50%;
  margin-bottom: 0;
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #form-conditions {
    display: none;
  }
}
