.form-group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 15px;

  }

  .form-control-wrapper {
    position: relative;
  }

  .form-password-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    border: none;
    background: transparent;
    font-size: 30px;
    color: $grey2;
    cursor: pointer;
  }

  textarea,
  input {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 45px;
    outline: none;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    color: $grey2;
    padding: 0 15px;
  }

  textarea {
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &.is-invalid input {
    border-color: $pink;
  }

  &:not(.is-invalid) input:focus {
    border-color: $blueAdditional !important;
  }

  .form-invalid-feedback,
  .form-feedback {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: $grey1;
    font-size: 12px;
  }

  .form-invalid-feedback {
    color: $pink;
    display: none;
  }

  &.is-invalid .form-invalid-feedback {
    display: block;
  }
}

.form-radio-item {
  margin-bottom: 30px !important;
}

.form-group-radio input,
.form-group-checkbox input {
  display: none;
}

.form-radio-check {
  display: inline-block;
  border: 1px solid $grey3;
  width: 21px;
  height: 21px;
  border-radius: 187.5px;
  position: relative;
  vertical-align: top;

}



.form-radio-wrapper {
  border: 1px solid $grey3;
  padding: 10px 15px;
  border-radius: 4px;
  gap: 10px;
  display: flex;
  align-items: center
}

input:checked + .form-radio-wrapper .form-radio-check:before {
  position: absolute;
  top: 25%;
  transform: translateX(-52%);
  left: 50%;
  content: '';
  background-color: $blue;
  width: 10px;
  height: 10px;
  border-radius: 187.5px;
}
input:checked + .form-radio-wrapper,
input:checked + .form-radio-wrapper .form-radio-check,
input:checked + .form-checkbox-wrapper .form-checkbox-check {
  border: 1px solid $blue;
}

.form-radio-name {
  font-size: 14px;
  font-weight: normal;
}

.form-checkbox-check {
  display: inline-block;
  border: 1px solid $grey3;
  width: 20px;
  height: 20px;
  position: relative;
}

.form-checkbox-wrapper .form-checkbox-check {
  i {
    display: none;
  }
}
input:checked + .form-checkbox-wrapper .form-checkbox-check {
  i {
    display: inline-block;
    color: $blue;
    font-size: 24px;
  }
}
.icon-done-large:before {
  position: absolute;
  top: -9px;
  left: 2.5px;
}
@media screen and (max-width: 1024px){
  .form-content .form-image {
    display: none;
  }
  .form-content .form {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 767px){
  .form-content {
    display: block !important;
  }
  .form-group label {
    font-size: 10px !important;
  }

  .form-checkbox-wrapper label {
    align-self: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px){
  .form-application {
    .form h3 {
      font-size: 18px;
    }

    .form-group  {
      .btn-main-form {
        max-height: 50px;
        font-size: 16px;
      }
      textarea,
        input {
          font-size: 12px;

      }
    }

  }
  footer .info-block {
    flex-wrap: wrap;
  }
  .form-checkbox-wrapper label {
    font-size: 6px !important;

  }
  .form-checkbox-check {
    width: 20px;
    height: 20px;
    i:before {
      top: -6px !important;
    }
  }

}