header {
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;
  z-index: 666666;
  .header-menu {
    margin-top: 0;

    a {
      font-size: 14px;
    }
  }
}

.upper-block {
  margin-bottom: 25px;
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  i {
    color: $blue;
    font-size: 22px;
    vertical-align: top;
  }

  .blocks-address-time {
    display: flex;
    text-wrap: nowrap;
    position: relative;
    font-size: 14px;

    .icon-map {
      position: absolute;
      font-size: 24px;
      top: -5px;
      left: -5px;
    }

    .block-address {
      font-weight: bold;
    }

    .block-time {
      color: $grey1;
    }


  }

  .header-menu {
    ul {
      display: flex;

      list-style: none;
      gap: 10px;

      a {
        color: $grey1;
        text-decoration: none;
      }
    }
  }
}

.block-contacts {
  display: flex;
  font-size: 14px;
  gap: 40px;
  font-weight: bold;

  .contacts-email,
  .contacts-tel {
    position: relative;
    font-family: icons, sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .icon-phone:before,
  .icon-mail:before {
    position: absolute;
    top: -1px;
    left: -20px;
  }


}

.block-address-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
}

.bottom-block {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: space-between;
  .icon-menu {
    position: relative;
  }
  //.icon-menu:before {
  //  position: absolute;
  //  top: -49px;
  //  left: -22px;
  //}
  .header-logo {
    object-fit: contain;
    padding-bottom: 5px;
  }

  .search {
    flex-basis: 41%;

    button {
      line-height: 40px;
      top: -15px;

    }

  }
}

.authentication {
  display: flex;
  gap: 20px;
}

.btn-catalog {
  flex-basis: 12%;
  padding-left: 20px;
}

.login,
.basket {
  span {
    font-size: 14px;
    text-wrap: nowrap;
  }
}
.btn-mobile {
  display: none;
}
.header-mobile,
.header-burger {
  display: none;
}
@media screen and (max-width: 1010px) {
  header .search {
    display: none;
  }
}

@media screen and (max-width: 600px) {
header .block-contacts {
  display: none;
}
}
@media screen and (max-width: 1179px) {
  header .header-menu,
  {
    display: none;
  }
  .header-mobile.open-menu .block-contacts{
    display: flex;
  }
  .header-mobile.open-menu .header-menu,
  .header-mobile.open-menu .search
  {
    color: $black;
    display: block;
  }
  .upper-block .blocks-address-time,
  .block-contacts {
    font-size: 12px;
  }
  .header-burger {
    display: block;
  }
  .header-burger {
      position: absolute;
      width: 40px;
      height: 35px;
      display: block !important;
      top: 28px !important;
      right: 17px !important;
    left: auto !important;
      border: 0;
      background-color: unset;
      cursor: pointer;


    .header-burger .open-menu {
      margin-left: auto;
      margin-right: 0;
      margin-top: 10%;
    }


    & span,
    &:after,
    &:before {
      height: 3px;
      width: 30px;
      position: absolute;
      margin: 0 auto;
      background: $blue;
    }

    & span {
      top: 20px;
    }

    &:after,
    &:before {
      content: '';
      top: 0;
    }

    &:before {
      top: 10px;
    }

    &.open-menu span {
      opacity: 0;
      transition: 0.5s;

    }

    &.open-menu:before {
      transform: rotate(40deg);
      top: 10px !important;
      transition: 0.4s;
    }

    &.open-menu:after {
      transform: rotate(-40deg);
      top: 10px !important;
      transition: 0.4s;
    }

    &-mobile {
      display: block;

    }
  }
  .header-search-mobile {
    padding-right: 40px;

  }
  .header-mobile {
    position: fixed;
    background: $grey3;
    &-block {
      display: flex;
      flex-direction: column;
      position: absolute;

      gap: 30px;
      padding-top: 40px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        font-size: 20px;
      }
    }

    &-connection {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
    }

    &-button {
      padding: 10px 35px;
      border: none;
      font-size: 18px;
    }
  }
  .open-menu {
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
  .header-mobile-block {
    width: 300px;
     .search button {
      position: absolute;
      top: -8.5px;
      right: 6px;
      display: inline-block;
      padding: 0 25px;
    }
    .search input {
      padding: 11.5px 35px;
    }
    .search-item:before {
        top: 2px;
    }
    .block-contacts {
      display: flex;
      gap: 20px;

    }
    .search button {
       top: -3px;
       right: 6px;
        line-height: 30px;
     }
    .block-contacts .icon-phone:before, .block-contacts .icon-mail:before {
      top: -3px;
    }
    .block-contacts {
      font-size: 11px;
    }
    .header-mobile-block .block-contacts {
      gap: 40px;
    }
    .header-mobile-button {
     line-height: 20px;
    }
  }

}


@media (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
  .upper-block .blocks-address-time, .block-contacts {
    font-size: 9px;
  }
  .bottom-block {
    .header-logo {
      display: none;
    }

    .btn-catalog {
      flex-basis: 10%;
      width: 100%;
    }
  }
  .login span, .basket span {
    font-size: 12px;
  }

}

@media (max-width: 500px) {
  .btn-mobile {
    width: 100% ;
    display: block;
    i {
      margin-right: 0;
    }
  }
  .btn-catalog {
    display: none;
  }
  .block-address-time {
    text-wrap: wrap;
    flex-basis: 90%;
  }
}
@media screen and (max-width: 400px){
  .header-mobile-block {
    width: 100%;
    .search button {
      top: -4.5px;
    }
    form {
      margin: 0;
    }
  }
  .header-mobile-block .block-contacts .icon-phone:before, .header-mobile-block .block-contacts .icon-mail:before {
    top: 3px;
  }
}
@media screen and (max-width: 340px) {
  header {
    .authentication {
      gap: 5px;
    }
    .bottom-block {
      gap: 10px;
    }

  }

}