* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}


section {
  margin-bottom: 90px;
}
.wrapper {
  position: relative;
}
.container {
  font-size: 16px;
  max-width: 1180px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  position: relative;
}
.modal-background {
  background: rgba(0,0,0,.5);
  header {
    background: white;
    margin-bottom: 0;
  }
  section {
    opacity: .3;
  }
}
@media screen and (max-width: 1260px) {
  section {
    margin-bottom: 40px;
  }
  .wrapper {
    padding: 0 30px !important;
  }
}
@import "fonts";
@import "colors";
@import "buttons";
@import "form";
@import "common";
@import "header";
@import "footer";
@import "catalog-menu";
@import "slider";
@import "promo-banner";
@import "product-category";
@import "about-us";
@import "delivery";
@import "dealers";
@import "form-application";
@import "page-about-us";
@import "product-catalog";
@import "single-product";
@import "search";
@import "basket";
@import "register";
@import "catalog-instructions";
@import "personal-area";
@import "order";
@import "tech";
