
.personal-area {
  display: flex;
  gap: 20px;
  &-data {
    .register .form-content .form .icon-eye:before {
      top: -18px;
      left: -23px;
    }
    .register {
      position: static;
    }

  }
  &-documents {
    .product-slide {
      display: block !important;
    }

    .basket-product-item-text {
      h3 {
        margin-bottom: 15px !important;
      }
    }

    .page-catalog-instructions-item-content {
      max-width: 480px;
      width: 100% !important;

      .basket-product-item,
      .basket-product-item-text {
        width: 100%;
      }
    }

    &-item {
      background: $grey4;
      padding: 10px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;

      a {
        font-weight: bold;
      }

      i {
        position: relative;
        padding: 8px;
        background: white;
        color: $blue;
        font-size: 26px;
        width: 40px;
        height: 40px;
      }

      i:before {
        position: absolute;
        top: 7px;
        left: 9px;
      }

    }
  }


  &-email-ok {
    align-items: center !important;
    padding: 60px 0 !important;

    p {
      width: 70% !important;
    }
  }

  .close-acc {
    font-size: 14px;
    color: $systemRed;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
  }

  &-data {
    .register {
      margin-bottom: 30px;

      .form-content {
        max-width: 100%;
        text-align: start;

        .email-ok,
        .password-ok {
          padding: 10px 20px;
          background: $grey4;
          border-radius: 8px;
          font-size: 14px;
          width: 100% !important;
        }

        .password-ok {
          color: $systemGreen;
          background: $systemGreenLight;
        }

        .form {
          h3 {
            text-align: start;
          }

          &-group-radio {
            justify-content: flex-start;
          }

          form {
            max-width: 440px;
          }
        }
      }
    }

    .block-right {
      margin-bottom: 90px;
    }

    .register-second {
      margin-bottom: 20px;
    }
  }

  &-product-content {
    align-items: flex-start !important;
  }

  &-product-text {
    flex-basis: 58%;
    max-width: 100% !important;
  }

  &-product-price {
    flex-basis: 10%;
    text-wrap: nowrap;
    align-items: flex-start;

    p {
      margin-bottom: 0;
    }
  }

  &-form-cancel {
    .form-content {
      margin: 0 auto;
      max-width: 520px;
      width: 100%;
      display: block;
      text-align: start;
    }

    .form-radio-wrapper {
      border: none;
      padding: 10px;
    }

    .form-group {
      margin-bottom: 0;

      button {
        max-width: 100%;
      }
    }

    .form-group-radio {
      margin-bottom: 30px;

    }

    .form-radio-item {
      margin-bottom: 0 !important;
    }
  }

  &-price {
    width: 100% !important;
  }

  .block-left {
    flex-basis: 30%;
    .new-product-content-error-filter {
      padding: 0;
      overflow: hidden;
      position: sticky;
      top: 20px;

      .personal-area-menu {
        overflow: hidden;

        ul {
          text-align: start;

        }

        li {
          padding: 10px 20px;
          cursor: pointer;

        }

        li:hover {
          color: $white;
          background: $blueAdditional;

        }
      }
    }

    .personal-area-header {
      display: flex;
      gap: 10px;
      padding: 20px;

      p {
        width: auto !important;
        margin-bottom: 0;
        font-weight: bold;
      }

      span {
        color: $grey1;
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  .block-right {
    flex-basis: 70%;

    .page-catalog-instructions-item {
      text-align: start;
    }

    .product-slide,
    .line-product {
      margin-bottom: 15px !important;

    }

    .product-slide {
      display: flex;
      width: 100%;
    }

    .product-slide-item {
      flex-basis: 100%;

    }

    .page-catalog-instructions-item-content {
      align-items: center;
      position: initial;

    }
    .mb20 {
      margin-bottom: 20px;
    }
    .btn-more {
      color: $black;
      width: auto !important;
      bottom: 0;
      right: 30px;
      font-weight: bold;

      i:before {
        top: -11px;
        left: 2px;
      }
    }

    .btn-cancel {
      border: none;
      text-decoration: underline;
      color: $grey1;
      bottom: auto;
      top: 0;
      right: 0;
    }

    .new-product-content-error-filter {
      position: relative;
      align-items: flex-start;
      padding: 20px 20px 0px 20px;
      margin-bottom: 20px;

      .personal-area-text {
        width: 85% !important;
      }
    }

    .page-catalog-instructions-content {
      padding: 0;
    }

    .d-flex {
      flex-direction: column;
      gap: 10px;
    }

    .basket-product-item-text {
      text-align: left;
      flex-basis: 95%;

      c {
        color: $black;
        margin-left: 5px;
      }

      h3 {
        font-size: 16px !important;
        margin-bottom: 5px;
        span {
          font-size: 16px;
          color: $blue;
        }
      }
    }

    .basket-product-item-tag {
      font-size: 12px;
      background: $grey4;
      border-radius: 10px;
      height: 24px;
      padding: 4px 8px;
      text-wrap: nowrap;
      color: $grey1;
    }
  }
}
.product-cancel {
  justify-content: center;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  z-index: 6666;
  margin: 0 auto;
  .form {
    background: white;
    &-content {
      position: relative;
      i {
        position: absolute;
        font-size: 24px;
        top: 0;
        right: 10px;
        cursor: pointer;
      }
    }
  }
}
.about-order {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1040px) {
  .personal-area {
    .block-left {
      .personal-area-header {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .personal-area {
    &-header {
      text-align: start;
    }

    flex-direction: column;

    .block-right {

      .email-ok {
        font-size: 12px !important;
      }

      .btn-main-form {
        text-wrap: nowrap;
        font-size: 14px;
      }

      .new-product-content-error-filter {

        padding-bottom: 25px;

        .personal-area-product-content {
          .basket-product-item {
            flex-direction: column;
            gap: 0;

            img {
              margin-bottom: 10px !important;
            }

          }

          .basket-product-btn-price {
            text-align: start;
          }

        }

        .page-catalog-instructions-item-content {
          gap: 0;
        }


      }

      .btn-cancel {
        top: 50px;
        right: 5px;
      }
    }
  }
}
