.promo-banner {


  &-content {
    display: flex;
    background: url("image/promo-banner.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
    color: $white;
    border-radius: 10px;
  }

  &-images {
    flex-basis: 50%;
    position: relative;
    align-self: flex-end;
  }
  &-image {
    display: flex;
    margin-left: 75px;
    img {
      width: 350px;
    }
  }
  &-text {
    flex-basis: 50%;
    padding: 45px 60px;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 28px;
    }

    .btn-white {
      padding: 13px 61px;
      font-size: 14px;
    }
  }
  &-tag {
    position: absolute;
    background: $white;
    border-radius: 5px;
    max-width: 100px;
    padding: 10px 28px 10px 12px;
    color: $black;
    font-size: 20px;
    font-weight: 900;
    top: 55%;
    left: 84px;
    rotate: -14.68deg;
    i {
      position: relative;
      color: $pink;
      font-size: 24px;
    }

    i:before {
      position: absolute;
      top: 50%;
      transform: translateY(-62%);
      right: -22px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .promo-banner-tag {
    left: 14px !important;
  }
  .promo-banner-image {
    margin-left: 0 !important;
  }
  .promo-banner-text h2 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 767px){
  .promo-banner-images {
    display: none;
  }
  .promo-banner-text {
    flex-basis: 100% !important;
    padding: 45px 30px !important;
  }
  .promo-banner-text .btn-white {
    width: 100%;
  }
}
@media screen and (max-width: 500px){
  .promo-banner-text {
    h2 {
      font-size: 20px !important;
    }

    p {
      font-size: 14px;
    }
  }
}