.wrapper {
  padding: 0;
}

.slider {
  position: relative;

  .container {
    padding: 0;
  }

  .btn-white {
    margin-bottom: 65px;
  }

  &-content {
    color: $white;
    background-image: url("image/slider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    padding: 60px 50px 65px 50px;
  }

  &-title {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 50px;
  }

  &-sub-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;

  }
}

.main-slider {
  overflow: hidden;
  border-radius: 15px;
  max-height: 400px;
  position: relative;

}

.prev,
.next,
.prev-product,
.next-product {
  position: absolute;
  content: '';
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: $grey4;


  &-i {
    position: absolute;
    top: 0;
    left: 7px;
    color: $black;
  }
}

.next {
  left: auto;
  right: -30px;

  &-i {
    left: 10px;
  }
}


.main-slide, .slider-content {
  padding-top: 0;
  padding-bottom: 0;
}

.main-slide:before {
  background: none;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li + li {
  margin-left: 10px;
}


//New product slider

.new-product {
  &-content {
    position: relative;
    /* the slides */
    .slick-slide {
      margin: 0 10px;
    }
    /* the parent */
    .slick-list {
      margin: 0 -10px;
    }
    .prev-product {
      left: -30px;
    }
    .next-product {
      right: -27px;
      left: auto;

    }
  }

  .prev-product,
  .next-product {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-hidden {
    display: inline-block;
  }

  .product-slide {
    border-radius: 10px;
    border: 1px solid $grey3;

  }

  .product-slide:last-child {
    margin-right: 0;
  }

  .product-slide-content {
    padding: 0 15px 15px 15px;

    button {
      width: 100%;
    }

    &-article {
      color: $grey1;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 15px;
    }

    &-prices {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }

    &-active-price {
      font-size: 26px;
      color: $pink;
    }

    &-prev-price {
      font-size: 16px;
      align-self: center;
      color: $grey1;
      text-decoration: line-through;
    }

    &-tag {
      display: flex;
      gap: 8px;
      font-weight: 500;
      font-size: 12px;
      margin-top: 15px;

      &-item {
        position: relative;
        background: $grey4;
        padding: 4px 17px 4px 8px;
        border-radius: 2.5px;
        line-height: 15px;
      }
    }

    &-image-slider {
      color: red;
      margin-bottom: 10px;

      li {
        width: 10px;
        height: 10px;

        button {
          background: $grey3;
        }

      }

      .slick-dots li.slick-active button {

        background: $blue;


      }
    }
  }

  i {
    display: inline-block;
  }

  .icon-shield-yes:before,
  .icon-frame:before {
    position: absolute;
    top: 4px;
    right: 0;
    color: #6d9fea;
    font-size: 20px;
  }

  .icon-frame:before {
    color: $pink;
    font-size: 16px;
    right: 4.5px;
  }

}

.hvr-images {
  position: relative;
}

.hvr-sectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.hvr-sector {
  flex-grow: 1;
}

.images {
  display: flex;
  overflow: hidden;
  height: 220px;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.image {
  display: block;
  overflow: hidden;
}

.hvr-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hvr-dot {
  width: 8px;
  height: 8px;
  margin: 5px 3px 25px;
  border-radius: 50%;
  background: $grey3;
}

.hvr-dot-active {
  background: $blue;
}

.slick-disabled {
  i {
    color: $grey3;
  }
}
.slick-disabled:hover {
  i {
    color: $grey3;
  }
}
@media screen and (max-width: 1024px){
  .new-product .product-slide-content-active-price {
    font-size: 16px !important;

  }
}
@media (max-width: 767px) {
  .main-slide {
    padding-top: 0 !important;
  }
  .slider-title {
    font-size: 24px !important;
  }
  .slider-sub-title {
    font-size: 14px !important;
    margin-bottom: 20px !important;
  }
  .btn-white {
    font-size: 14px;
    padding: 15px 25px;
  }
  .new-product .product-slide-content-article {
    font-size: 12px !important;
  }
  .new-product .product-slide-content-text {
    font-size: 13px !important;
  }

}
@media screen and (max-width: 500px){
  .slider-title {
    font-size: 20px !important;
  }
  .slider-sub-title {
    font-size: 12px !important;
  }
  .btn-white {
    font-size: 12px;
    width: 100%;
  }
}